body {
  display: flex;
  flex-flow: column;
}

#parent {
  display: flex;
  flex-flow: column;
  width: 600px;
  margin: 5rem auto;
   
}

.phrase {
  border-style: solid;
  border-width: 1px;
}

#parent > div {
  margin: .25rem;
  padding: .25rem;
}

.submit-area {
  margin: 1rem auto;
  width: 600px;
  display: flex;
  justify-content: flex-end;
}



/* USE OR CLEAN!

 #q1 {
  background-color: red;
}

#q2 {
  background-color: blue;
}
#box3 {
  background-color: green;
} */