body {
  display: flex;
  flex-flow: column;
}

#parent {
  display: flex;
  flex-flow: column;
  width: 600px;
  margin: 5rem auto;
}

.phrase {
  border-style: solid;
  border-width: 3px !important;
  margin: 0.25rem;
  padding: 0.25rem;
  transition: border-color 0.2s ease-out;
}

/* .phrase:hover {
  border-color: '#ffc107';
} */

.submit-area {
  margin: 1rem auto;
  width: 600px;
  display: flex;
  justify-content: flex-end;
}

#result-display {
  align-self: flex-end;
}
